<div class="food-form">
    <h2 class="form-title">Update Food</h2>
    <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" formControlName="name" type="text" class="form-control">
        <div *ngIf="foodForm.get('name')?.invalid && foodForm.get('name')?.touched" class="error-message">
            Name is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" formControlName="description" type="text" class="form-control">
        <div *ngIf="foodForm.get('description')?.invalid && foodForm.get('description')?.touched" class="error-message">
            Description is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="price">Price:</label>
        <input id="price" formControlName="price" type="number" class="form-control">
        <div *ngIf="foodForm.get('price')?.invalid && foodForm.get('price')?.touched" class="error-message">
            Price must be greater than 0
        </div>
      </div>
  
      <button type="submit" class="submit-button" [disabled]="foodForm.invalid">Update Food</button>
    </form>
</div>
